<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>life hospital</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  .RR{
    font-size: 130%;
    text-align: center;
    color: rgb(244, 247, 248);
    background-color: blue   ;
    border-bottom: 6px solid red;
    width: 100%;
    
    

    }

.KK{
    font-size: 130%;
    text-align: left;
    color: red;
    padding: 5px;
    }

</style>
</head>

<body style="background-color: aliceblue">
  {% include "hospital/navbar.html" %}
  <br><br>
  <center>
    <br>
    <h3 class='alert alert-success' style="margin-bottom:0px;">Contact Us !</h3>
  </center>

  <div class="RR">
    <h1><font face="LemonMilkBold Black  " ><a style="width: 100%; text-align: center; font-size: 100%; padding-left: 400px; padding-right: 400px">Staff Information</a>
      </font>
    </h1>
  </div>
  
  
  <div class="KK">
  
    <h1><font face="LemonMilkBold Black  " ><k style="width: 100%; text-align: left; font-size: 80%; padding-left: 25px;">
  ADMINISTRATION </k>
      </font>
    </h1>
  </div>
  
  
  <div style="width: 75%; text-align: left; font-size: 120%; padding-left: 2px; color: darkblue;">
  <ul>
    <li>
      <p style="font-size: 110%;"><b>Sashank-Administrator</b> - Sashank oversees all departments and the 24 hour/7 day week operation of the hospital.</p>
    </li>
    <li>
      <p style="font-size: 110%;"><b>Arun- Psy.D-Associate Administrator</b> - Arun assists the Administrator in making sure the needs of our physicians </p>
    </li>
  
  </ul>
  </div>
  
  <div class="KK">
  
    <h1><font face="LemonMilkBold Black  " ><k style="width: 100%; text-align: left; font-size: 80%; padding-left: 25px;">
  NURSING SERVICES </k>
      </font>
    </h1>
  </div>
  
  <div style="width: 80%; text-align: left; font-size: 120%; padding-left: 10px; color: darkblue;">
  <ul>
     <li>
      <p style="font-size: 110%;"><b>Cardilogist - Dr. k . Jaishankar</b> - Manages the cardiac diseases and cardiac surgeries for the consultent patients during </p>
    </li>
  
    <li>
      <p style="font-size: 110%;"><b>Dermatologist - Dr.G.Saiteja </b> - Manages the skin Diseases services. and skin surgeries for the consultent patients during </p>
    </li>
  
    <li>
      <p style="font-size: 110%;"><b>Emergency medicine specialist</b> - coordinates with nursing staff to ensure that any discharge planning needs are met.</p>
    </li>
  
   </ul>
  </div>
  
  <div class="KK">
  
    <h1><font face="LemonMilkBold Black  " ><k style="width: 100%; text-align: left; font-size: 80%; padding-left: 25px;">
  Contact details </k>
      </font>
    </h1>
  </div>
  
  <div style="width: 80%; text-align: left; font-size: 120%; padding-left: 1px; color: darkblue;">
  
     
      <p style="font-size: 110%;"><b> Staff-</b> - 9000980970.,9305000890,9936197362</p>
    
    
      <p style="font-size: 110%;"><b> mail id-</b> - lifehospital@gmail.com.,emergencyhelp@gmail.com</p>
    
  
   
  </div>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    
    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>
  {% include "hospital/footer.html" %}
</body>
</html>